$textColor:rgb(0,0,0.87) !default;
$textSecondaryColor:rgba(0,0,0,.60) !default;
$fontSize:14px !default;
$fontFamily:Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !default;
$transitionDuration:.2s !default;
$borderRadius:4px !default;
$inputOptionPadding:.625em .875em !default;
$hoverBgColor:#e8e8e8 !default;
$hoverTextColor:#000000 !default;
$activeMenuItemBadgeColor:#ffffff !default;
$activeMenuItemBadgeTextColor:#212121 !default;
$dividerColor:#bdbdbd !default;
$letterSpacing:.25px !default;
$tabletBreakpoint:991px !default;
$phoneBreakpoint:576px !default;

/* Layout */
$bodyBgColor:#f7f7f7 !default;
$maskBgColor:#424242 !default;
$formGroupPadding:1em !default;

/* Topbar */
$topbarButtonColor:#ffffff !default;
$topbarButtonHoverColor:#e8e8e8 !default;
$topbarSearchBorderColor:#ffffff !default;
$topbarSearchColor:#ffffff !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverColor:#e8e8e8 !default;
$topbarMenuBgColor:#ffffff !default;
$topbarSubmenuBgColor:#ffffff !default;

/* Menus */
$darkMenuColor:#ffffff !default;
$layoutMenuBgColor:#ffffff !default;
$layoutMenuScrollbarBgColor:#aaaaaa !default;
$layoutMenuItemIconColor:#757575 !default;
$layoutMenuItemActiveColor:#e8e8e8 !default;
$horizontalLayoutMenuItemTextColor:#ffffff !default;
$horizontalLayoutMenuItemHoverBgColor:#e8e8e8 !default;
$horizontalLayoutMenuSubMenuBgColor:#ffffff !default;
$horizontalLayoutMenuSubMenuActiveBgColor:#e8e8e8 !default;
$horizontalDarkLayoutMenuItemTextColor:#ffffff !default;
$slimLayoutMenuSubMenuBgColor:#ffffff !default;
$slimMenuTooltipColor:#ffffff !default;
$rightPanelBgColor:#ffffff !default;
$profileMenuBorderBottomColor:#d6d5d5 !default;
$profileMenuDarkBorderBottomColor:#545454 !default;