body {
  .ui-chkbox {
    .ui-chkbox-box {
      border-color: nth($checkboxBorder, 3);
      border-radius: 2px;

      &:not(.ui-state-disabled):not(.ui-state-active).ui-state-hover {
        border-color: nth($checkboxBorder, 3);
      }

      .ui-chkbox-icon {
        border-radius: 50%;
      }

      &:not(.ui-state-disabled):not(.ui-state-active).ui-state-hover {
        .ui-chkbox-icon {
          width: 1rem;
          height: 1rem;
          background: rgba($overlayColor, .04);
          box-shadow: 0 0 1px 10px rgba($overlayColor, .04);
        }
      }

      &:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
        .ui-chkbox-icon {
          width: 1rem;
          height: 1rem;
          background: rgba($overlayColor, .12);
          box-shadow: 0 0 1px 10px rgba($overlayColor, .12);
        }
      }

      &.ui-state-active {
        &:not(.ui-state-disabled).ui-state-hover {
          .ui-chkbox-icon {
            box-shadow: 0 0 1px 10px rgba($checkboxActiveBg, .04);
          }
        }

        &:not(.ui-state-disabled).ui-state-focus {
          .ui-chkbox-icon {
            box-shadow: 0 0 1px 10px rgba($checkboxActiveBg, .12);
          }
        }
      }
    }
  }

  &.ui-input-filled, .ui-input-filled {
    .ui-chkbox {
      .ui-chkbox-box {
        background-color: $inputBg;

        &:not(.ui-state-disabled):not(.ui-state-active).ui-state-hover {
          background-color: $inputBg;
        }
      }
    }
  }
}